 .u-section-1 {
  background-image: none;
  min-height: 1028px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1068px;
  margin: -98px auto 0 calc(((100% - 1140px) / 2) + 36px);
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 16.5px));
  min-height: 254px;
  grid-gap: 22px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  border-radius: 50%
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 119px;
  min-height: 121px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 224px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 686px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1176px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 548px;
    grid-gap: 22px 22px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

.u-section-1 .u-icon-1 {
  /*
  width: 250px;
  height: 250px;
  */
  /*padding: 0px 20px 40px 20px;*/
  width:100%;
  background-image: linear-gradient(#f1c50e, #f1c50e);
  margin: 10px auto 0;
  padding: 0px;
}
